<p> Hey There!</P>
<p>
  Congrats! <b>A comment has been added on Nomsterapp</b>. Check it out <%= link_to 'here', place_url(@place) %>.
</p>

  Thanks,<br /> 
  Craig White,
  Nomsterapp Dev team. 